@model Online_Learning_Web.Models.Course;

<h1>Edit Course</h1>
<div class="row">
	<div class="col-md-6">
		<form asp-action="Edit">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<label asp-for="Title">Title:</label>
			<input asp-for="Title" type="text" style="width: 635px; height: 30px;" value="@ViewBag.Course.Title" class="title" required />
			<label asp-for="Price">Price:</label>
			<input asp-for="Price" type="text" style="width: 635px; height: 30px;" value="@ViewBag.Course.Price" class="price" required />
			<br />
			<!input type="checkbox" asp-for="IsPublished" @(ViewBag.Course.IsPublished == true ? "checked=true" : "") /> IsPublished
			<h3>Level</h3>
			<select style="margin-right: 20px;" class="btn btn-info" name="level">

				<option  value="-1">Select a Level</option>
				<!option asp-for="Level" value="Easy" @(ViewBag.Course.Level.Equals("Easy") ? "selected" : "")>Easy</!option>
				<!option asp-for="Level" value="Medium" @(ViewBag.Course.Level.Equals("Medium") ? "selected" : "")>Medium</!option>
				<!option asp-for="Level" value="Hard" @(ViewBag.Course.Level.Equals("Hard") ? "selected" : "")>Hard</!option>
			</select>
			<br />
			<label asp-for="Description">Description:</label>
			<textarea asp-for="Description" class="description" style="width: 635px; height: 100px;" name="description" required>@ViewBag.Course.Description</textarea>
			<h1>@ViewBag.Course.Description</h1>
			<label asp-for="Image">Image:</label>
			<input asp-for="Image" type="text" style="width: 635px; height: 30px;" value="@ViewBag.Course.Image" class="image" required />
			<label></label>
			<input value="@ViewBag.targetStr" />
			<h1>@ViewBag.targetStr</h1>
			<h1>heloo \n kasss</h1>
			<label></label>
			<input value="@ViewBag.RequirementStr" />

			<br />
			<br />

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>